* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 40px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-image: url('../img/1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*CONTAINER*/
.glass-container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px); /*TRANSPARENCY*/
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 30px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

h1, h2 {
  color: #2c2c2c;
  text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

p, li, small {
  color: #333;
  line-height: 1.5;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

a {
  color: #005a8d;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

small {
  color: #656565;
}

/*CONTAINER SIZE*/
@media (max-width: 600px) {
  body {
    padding: 40px 20px;
  }

  .glass-container {
    padding: 20px;
  }
}
