/*FONTS*/
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.er {
  font-family: Georgia, serif;
}


/*BACKGROUND*/
body {
  margin: 0;
  padding: 40px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('../img/1.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1; /*element priority*/
}


/*iPhone*/
@supports (-webkit-touch-callout: none) {
  body {
    background-attachment: scroll;
    background-size: cover;
  }
}

body, .glass-container {
  font-size: clamp(14px, 2.5vw, 20px);
}


/*CONTAINER*/
.glass-container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px); /*transparency*/
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 30px;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

/*CONTAINER SIZE*/
@media (max-width: 600px) {
  body {
    padding: 40px 20px;
  }

  .glass-container {
    padding: 20px;
  }
}


/*TEXT*/
h1, h2 {
  color: #2c2c2c;
  text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

p, li, small {
  color: #333;
  line-height: 1.5;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

a {
  color: #005a8d;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

small {
  color: #656565;
}


/*BUTTONS*/
.poet-links {
  display: flex;
  flex-direction: column; /* ставим в колонку */
  gap: 15px;
  align-items: center; /* выравнивание по центру */
  margin-top: 30px;
}

.poet-btn {
  display: inline-block;
  width: 250px; /* фиксированная ширина для аккуратности */
  text-align: center;
  padding: 12px 20px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.15);
  color: #2c2c2c;
  transition: all 0.3s ease;
}

.poet-btn:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-3px);
}
